<%- include('../partials/user/header2') %>  

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">About us <span>Pages</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">About us </li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="about-text text-center mt-3">
                        <h2 class="title text-center mb-2">Who We Are</h2><!-- End .title text-center mb-2 -->
                        <p>Welcome to BeatsStudio, your one-stop destination for premium audio wearable accessories. We are passionate about bringing you the perfect harmony of style, comfort, and cutting-edge technology. From wireless earbuds to over-ear headsets, our products are designed to deliver an exceptional audio experience. At BeatsStudio, we believe that every sound matters, and we’re here to help you immerse yourself in the music you love. Join us on this journey and elevate your audio experience today!</p>
                        
                        <img src="/user/assets/images/demos/demo-9/banners/signature.png" alt="signature" class="mx-auto mb-5">

                        <img src="/user/assets/images/demos/demo-9/banners/banner7.jpg" alt="image" class="mx-auto mb-6">
                    </div><!-- End .about-text -->
                </div><!-- End .col-lg-10 offset-1 -->
            </div><!-- End .row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box icon-box-sm text-center">
                        <span class="icon-box-icon">
                            <i class="icon-puzzle-piece"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Design Quality</h3><!-- End .icon-box-title -->
                            <p>Crafted with precision and attention to detail, our audio accessories blend modern aesthetics with ergonomic design. Experience products that not only look stunning but also deliver unmatched comfort and performance.</p>
                        </div><!-- End .icon-box-content -->
                        
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-4 col-sm-6 -->

                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box icon-box-sm text-center">
                        <span class="icon-box-icon">
                            <i class="icon-life-ring"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Professional Support</h3><!-- End .icon-box-title -->
                            <p>Our dedicated support team is here to assist you every step of the way. From product inquiries to troubleshooting, we provide fast, reliable, and friendly service to ensure your satisfaction.</p>
                        </div><!-- End .icon-box-content -->
                        
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-4 col-sm-6 -->

                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box icon-box-sm text-center">
                        <span class="icon-box-icon">
                            <i class="icon-heart-o"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Made With Love</h3><!-- End .icon-box-title -->
                            <p>Every product we create is crafted with passion and care, ensuring exceptional quality and attention to detail. At BeatsStudio, we pour our heart into every design to bring you an audio experience you'll love.</p> 
                        </div><!-- End .icon-box-content -->
                        
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-4 col-sm-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="mb-2"></div><!-- End .mb-2 -->

        <div class="bg-image pt-7 pb-5 pt-md-12 pb-md-9" style="background-image: url(assets/images/backgrounds/bg-4.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="count-container text-center">
                            <div class="count-wrapper text-white">
                                <span class="count" data-from="0" data-to="40" data-speed="3000" data-refresh-interval="50">41</span>k+
                            </div><!-- End .count-wrapper -->
                            <h3 class="count-title text-white">Happy Customer</h3><!-- End .count-title -->
                        </div><!-- End .count-container -->
                    </div><!-- End .col-6 col-md-3 -->

                    <div class="col-6 col-md-3">
                        <div class="count-container text-center">
                            <div class="count-wrapper text-white">
                                <span class="count" data-from="0" data-to="20" data-speed="3000" data-refresh-interval="50">2</span>+
                            </div><!-- End .count-wrapper -->
                            <h3 class="count-title text-white">Years in Business</h3><!-- End .count-title -->
                        </div><!-- End .count-container -->
                    </div><!-- End .col-6 col-md-3 -->

                    <div class="col-6 col-md-3">
                        <div class="count-container text-center">
                            <div class="count-wrapper text-white">
                                <span class="count" data-from="0" data-to="95" data-speed="3000" data-refresh-interval="50">95</span>%
                            </div><!-- End .count-wrapper -->
                            <h3 class="count-title text-white">Return Clients</h3><!-- End .count-title -->
                        </div><!-- End .count-container -->
                    </div><!-- End .col-6 col-md-3 -->

                    <div class="col-6 col-md-3">
                        <div class="count-container text-center">
                            <div class="count-wrapper text-white">
                                <span class="count" data-from="0" data-to="15" data-speed="3000" data-refresh-interval="50">5</span>
                            </div><!-- End .count-wrapper -->
                            <h3 class="count-title text-white">Awards Won</h3><!-- End .count-title -->
                        </div><!-- End .count-container -->
                    </div><!-- End .col-6 col-md-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .bg-image pt-8 pb-8 -->


        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="brands-text text-center mx-auto mb-6">
                        <h2 class="title">The World's Premium Audio Brands in One Place</h2><!-- End .title -->
                       <p>Explore a handpicked selection of top-tier brands known for their exceptional sound quality and innovative designs. At BeatsStudio, we bring together the best in audio to elevate your listening experience.</p>

                    </div><!-- End .brands-text -->
                    <div class="brands-display">
                        <div class="row justify-content-center">
                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="/user/assets/images/brands/1.jpg" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="/user/assets/images/brands/2.jpg" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="/user/assets/images/brands/3.jpg" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="/user/assets/images/brands/4.jpg" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="/user/assets/images/brands/5.jpg" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="/user/assets/images/brands/6.jpg" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="/user/assets/images/brands/fcj.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="/user/assets/images/brands/9.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .brands-display -->
                </div><!-- End .col-lg-10 offset-lg-1 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


<%- include('../partials/user/footer') %>  
